* {
    font-family: sans-serif;
}

.lgn-form-wrapper {
    color:blue;
}

.lgn-form-logo {
    background-image: url('../../../../../public/brand-assets/gradient-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.login-text {
    font-size: 1.25rem;
    font-weight: 400;
}
