searchInput {
    -webkit-appearance: none;
    box-shadow: none !important;
    width: 58vw;
    height: 33px;
    padding: 0px;
    margin: 0px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    font-size: 14px;
}

SearchInput:-webkit-autofill {
    color: #fff !important;
}

searchInput:focus {
    -webkit-appearance: none;
    appearance: none;
    width: 58vw;
    height: 3vh;
    padding: 0px;
    margin: 0px;
    border: none;
    background-color: rgba(255, 255, 255, 0)
}

.searchBtn {
    background: none;
    border: none;
    background-image: url(../../../public/images/magnify-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    filter: invert();
    margin-left: 10px;
}
