body {
    margin: 0;
    padding: 0;
}

.wlc-background {
    background-image: url('../../../public/images/pexels-ezra-comeau-2387418.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(80%);
    overflow: hidden;
}

.wlc-logo-btn {
    background: none;
    border: none;
    background-image: url('../../../public/brand-assets/Shuttr\ logo\ -\ gradient\ and\ white.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.wlc-logo-link {
    width: 100px;
    height: 33px;
    cursor: pointer;
}

.wlc-start-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 23px;
    width: 200px;
    height: 64px;
    background-color: white;
    color:black;
    text-decoration: none;
    border-radius: 2px;
}

.wlc-login-btn {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}

.wlc-signup-btn {
    width: 100px;
    height: 26px;
    background-color: white;
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    padding-top: 7px;
}

.wlc-footer-text {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
    color: white;
}
