body {
    margin: 0px;
    padding: 0px;
}

.selectActivity {
    width: 100px;
    height: 100px;
    background: none;
    border: none;
    font-family: sans-serif;
    color: black;
    margin-left: 5px;
}

.selectContainer {
    color: grey;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.activityContainer {
    width: 48vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
}

.imageCardWrapper {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}

.imageCardBox {
    width: 25vw;
    height: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.userIcon {
    width: 35px;
    height: 35px;
    border-radius: 100%;
}

.userInfoBox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 15px;
    width: 25vw;
    height: 50px;
    margin-top: 20px;
}

.userDetails {
    display: flex;
    flex-direction: column;
}

.userLink {
    color: black;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: -15px;
}

.userInfoText {
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    font-weight: bold;
}

.imageDiv {
    width: 600px;
    height: 300px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.moreBtn {
    position: absolute;
    width: 48vw;
    height: 5.1vh;
    border: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
    background: white;
    box-shadow: 1px 0px 100px black;
    overflow-x: hidden;
    overflow-y: visible;
}

.moreDiv {
    position: absolute;
    margin-top: 1099px;
    margin-left: -12px;
    width: 47.9vw;
    height: 5.1vh;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    background-color: white;

    border-top: 3px solid rgba(0, 0, 0, 0,2);
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
}

select {
    height: 100px;
    width: 300px;

}
