body {
    margin: 0px;
    padding: 0px;
    background: rgba(0, 0, 0, 0.8);
}

.selectActivity {
    width: 100px;
    height: 30px;
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.05 );
    font-family: sans-serif;
    color: white;
    margin-left: -600px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.selectContainer {
    color: grey;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.activityContainer {
    width: 48vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 0.25rem;
}

.imageCardWrapper {
    width: 1200px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}

.imageCardBox {
    width: 575px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0.25rem;
    box-shadow: 0px 0px 1px grey;
    background-color: rgba(0, 0, 0, 0.05);
}

.userIcon {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-position: center;
    margin-top: 15px;
}

.userInfoBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 15px;
    width: 575px;
    height: 100px;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.05);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.userDetails {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.userLink {
    color: white;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
    font-size: 16px;
    font-weight: bold;
    margin-bottom: -15px;
}

.userCount {
    color: white;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
    font-size: 16px;
    font-weight: bold;
    margin-top: 25px;
    margin-left: 150px;
}

.userInfoText {
    color: white;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
    font-size: 14px;
    letter-spacing: 1px;
}

.imageDiv {
    width: 575px;
    height: 300px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.moreBtn {
    background: none;
    width: inherit;
    height: 75px;
    border: none;
    color: whitesmoke;
    font-size: 18px;
    letter-spacing: 0.025vw;
    box-shadow: 0px 0px 100px black;
    overflow-x: hidden;
    overflow-y: visible;
}

.moreDiv {
    position: absolute;
    margin-top: 1100px;
    width: 47vw;
    height: 75px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-top: 30px solid rgba(0, 0, 0, 0,2);
    box-shadow: 0px 0px 10px grey;
    background-color: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(20px);
}

.wrapper {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;

}
