.userButton {
    background-size: cover;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-position: center;
}

.profileDiv {
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 25px;
}

.profileDropdown {
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: space-around;
}

.profileItems {
    width: 160px;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: baseline;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    color: white;
    list-style: none;
    letter-spacing: 0.2px;
    margin-left: -20px;
    margin-top: -20px;
}

.logoutBtn {
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 75px;
    height: 30px;
    font-family: sans-serif;
    font-size: 14px;
    color: white;
    border-radius: 0.25rem;
    margin: 10px 0px 10px 85px;
}

.logoutBtn:hover {
    color: grey;
    border: none;
    width: 75px;
    height: 30px;
    font-family: sans-serif;
    font-size: 14px;
    background: white;
}

.itemText {
    font-size: 14px;
    letter-spacing: 0.5px;
    color: white;

}

.settingsLink {
    padding-left: 45px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.25);
    text-decoration: underline;
}

.settingsLink:hover {
    color : white;
}

.menuWrapper {
    width: 220px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    position: absolute;
    padding: none;
    margin-top: 15px;
}
