.userButton {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.profileDropdown {
    width: 300px;
    height: 100px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    margin-top: 195px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
}

.profileItems {
    width: 300px;
    height: 25px;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    list-style: none;
}

.logout-btn {
    background: none;
    border: none;
    width: 50px;
    font-family: antarctican-headline;
    font-weight: 500;
    font-size: 14px;
}

.item-text {
    padding-left: 5px;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: black;

}

.settings-link {
    padding-left: 5px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    color: black;
}

.logoutButton {
    background: none;
    border: none;
    font-family: sans-serif;
    font-size: 16px;
    padding: none;
    margin: none;
}
